body{
    background-color: cadetblue !important;
}
.contenedor{
    background-color: lightblue !important;
    padding: 20px;
}

.fijar{
    overflow: hidden;
    height: 100vh;
}

.icon{
   position: relative;
}

.icon p{
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.container-modal{
    background: #000000f5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-close p{
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 30px;
    font-weight: 700;
    cursor: pointer;
}
.container-gasto{
    background-color: #37859d;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.container-gasto p{
    font-weight: 600;
}

.container-gasto span{
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}

.container-iconos{
    margin-right: 20px;
}